<% include partials/header %>


<div class="container">



<h3>Kontratat</h3>


<table class="table">
  <thead>
    <tr>
       <th scope="col">Nr. rendor i prokurimit </th>
      <th scope="col">Lloji i prokurimit </th>
	  <th scope="col">Aktiviteti i prokurimit </th>
	  <th scope="col">Data e inicimit te aktivitetit te prokurimit</th>
      <th scope="col">Data e nenshkrimit te kontratës</th>
	  <th scope="col">Cmimi total i paguar per kontratën </th>
      <th scope="col">Emri i te cilit i eshte dhene todos</th>
    </tr>
  </thead>
  <tbody>
  <%	docs.map(function(doc){ %>	

    <tr>
      <td scope="row"><%= doc.number%></td>
      <td><%= doc.description %></td>
      <td><%= doc.description%></td>
	  <td><%= doc.date %></td>
	  <td><%= doc.date %></td>
	  <td><%= doc.number %></td>
	  <td><%= doc.description %></td>
      <td><a href="/todos/edit/<%= doc._id %>"><button class="butoni">NDRYSHO</button></a></td>
<td><a href="/todos/delete/<%= doc._id %>"><button class="butoni">FSHIJ</button></a></td>

    </tr>
    	<% }) %>
  </tbody>
</table>


<a href="/todos/add/"><button class="butoni">SHTO NJE KONTRATE TE RE </button></a>
</div>

<% include partials/footer %>