<% include partials/header %>

<h4>Nr rendor i prokurimit: <%= doc.number %> </h4>
<h4>Lloji i prokurimit: <%= doc.description %> </h4>
<h4>Aktiviteti i prokurimit: <%= doc.description %> </h4>
<h4>Data e inicimit te aktivitetit: <%= doc.date %> </h4>
<h4>Data e nenshkrimit te kontrates: <%= doc.date %> </h4>
<h4>Cmimi total i paguar per kontraten: <%= doc.number %> </h4>
<h4>Emri i kontraktuesit: <%= doc.description %> </h4>




<% include partials/footer %>